/* importacion de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
*{
  padding: 0;
  margin: 0;  
}
.inicio{
    padding: 200px 50px 50px 50px;
}

li a:hover{
  background-color: rgb(178, 180, 180);
}
.bck-color{
  background-color: rgb(193, 197, 197);
 
}
span{
  color: rgb(178, 180, 180);
}
.fuente{
  font-family: 'Raleway', sans-serif;
}



.flex-containerr{
 
background-color: #fff;
margin: 0 auto;

/* activamos flexBox */
display: flex;
}

.habilidaes_img{
  width: 200px;
  height: 200px;
  padding:  25px 25px 25px 25px;
  
}
.caja-habilidades{
  width: 250px;
  text-align: center;
  
  padding-bottom: 150px;
  margin: 0 auto;
}
#descripcion-img{
  height: 250px;
  width: 200px;
}
#Descripcion-text{
  width: 400px;
  text-align: center;
  padding-right: 60px;
}
.caja-subtitulo{
 
    font-size: 25px;
    
}
.caja-titulo{
  padding: 50px;
  text-align: center;
  font-size: 25px;
}
.caja-descripcion{
  width: 250px;
 

  padding-bottom: 100px;
  margin: 0 auto;

  display: flex;
}
/* proyectos*/
#itemProyectos
  {
    padding-bottom: 200px;
  }

  .DosCajas{
    display: flex;
    padding-left: 200px;
  }
  .proyecImg{
    width: 390px;
    height: 300px;
  }

  .caja-prueba{
    padding: 0px;

  }